body{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    background: #ccc;
    font-family: Roboto; 
}

.login-container{
    margin-top: 5%;
    margin-bottom: 5%;
}
.login-logo{
    position: relative;
    margin-left: -41.5%;
}
.login-logo img{
    position: absolute;
    width: 20%;
    margin-top: 19%;
    background: #282726;
    border-radius: 4.5rem;
    padding: 5%;
}
.login-details{
    padding: 9%;
    background:#E5E5E5;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}

.message{
    padding: 9%;
    background: #2D2B55;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}

.login{
    font-weight: 600;
    width: 50%;
    color: #E5E5E5;
    background-color: #2D2B55;
    border: none;
    border-radius: 1.5rem;
    padding:2%;
}

.form-input [type="email"] {
    margin-bottom: 2rem;
}

.remember {
    font-size: 14px;
    line-height: 16px;
    color: #494845;
}

.forgot {
    font-size: 14px;
    line-height: 16px;
    color: #494845;
    float: right;
    cursor: pointer;
}
.forgot:hover{
    color: #2D2B55;
}

.submit-button {
    text-align: center;
    margin-bottom: 2em;
}

.submit-button button {
    background-color: #2D2B55;
    color: white;
    padding: 2px 30px;
    border-radius: 7px;
    outline: none;
    border: none;
}

.submit-button button:hover {
    opacity: .8;
}

.sign-up {
    font-size: 14px;
    line-height: 16px;
    color: #494845;
}

.sign-up .sign {
    font-weight: 700;
    cursor: pointer;
}

.inner-card { 
    margin: 2.3rem auto;
    padding: 2rem 0;
    background: #D7C07A;
    border-radius: 15px;
}

.inner-card p {
    padding: 10px;    
    line-height: 17px;
    letter-spacing: 0.06em;
}

.inner-card h2 {
    padding: 5px 0;
    margin: 0;
    color: #000000;
    font-weight: bold;
}

@media screen and (max-width: 380px){
    .message{
        height: 10vh;
    }
}

